* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.layout {
	max-width: 1000px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

body {
	font: 16px/1.5 SimSun, STKaiti, "Microsoft YaHei", SimHei, Helvetica, Arial;
	color: #333;
	/* background: rgb(26, 25, 25); */
}

.wrapper {
	background-color: #ececec;
	margin-top: 10px;
	margin-bottom: 30px;
	overflow: auto;
}

.userInfo {
	display: flex;
}

.aside {
	width: 260px;
}

.main {
	flex: 1;
	background: #7bbaaa;
	/* background: #fff; */
	padding: 40px;
	margin: 20px 20px 20px 0;
}
/* 顶部左侧 */
.aside .user {
	text-align: center;
	padding: 20px 0 20px 0;
}

.aside .user h1 {
	font-size: 40px;
}

.aside .user h1::after {
	content: "";
	display: block;
	width: 60px;
	border-top: 1px solid #d6d6d6;
	margin-top: 20px;
	margin: 16px auto;
}

.aside .user::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-top: 20px;
	border-top: 15px solid #d6d6d6;
	border-bottom: 15px solid transparent;
	border-right: 130px solid #d6d6d6;
	border-left: 130px solid transparent;
}

.aside .contact {
	padding: 20px 20px 20px 10px;
}

.aside .contact li {
	border-bottom: 1px solid #d6d6d6;
	list-style: none;
	line-height: 30px;
}

.aside .contact .iconfont {
	border-right: 1px solid #d6d6d6;
	padding-right: 10px;
	margin-right: 10px;
	padding-left: 10px;
	display: inline-block;
	font-size: 20px;
	color: #7bbaaa;
}

/* 顶部右侧 */
.main .intro {
	/* background: #7bbaaa; */
	overflow: auto;
}

.main .intro img {
	width: 100px;
	height: 100px;
	float: left;
}

.main .intro p {
	margin-left: 120px;
}
.main h2 {
	font-size: 40px;
	color: #d9d9d9;
	text-align: center;
}
.main .skills {
	color: #fff;
	padding: 20px 0 0 0;
}

.main .skills ul {
	margin-left: 20px;
}
.main .skills ul li {
	margin-top: 10px;
}

.work {
	margin: 0 20px 0 20px;
	padding: 20px 40px 0 40px;
	background-color: #fff;
}
.work h2 {
	font-size: 40px;
	color: #d9d9d9;
	text-align: center;
	/* margin-top: 18px; */
}

.work .pill {
	float: left;
	margin-top: 5px;
	background: #000;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	width: 130px;
	line-height: 20px;
	text-align: center;
	border-radius: 20px;
}

.work .more {
	margin-left: 140px;
	border-left: 1px solid #eee;
}

.work h3 {
	color: #666;
	font-size: 20px;
	font-weight: normal;
}

.work h3 strong {
	color: #111;
	font-weight: bold;
}

.work h3::before {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 6px;
	border: 2px solid #7bbaaa;
	margin-right: 10px;
	position: relative;
	left: -5px;
}

.work h4 {
	color: rgb(0, 0, 0);
	margin-top: 20px;
	margin-left: 40px;
}
.work .more ul {
	margin-left: 50px;
	padding-bottom: 20px;
}
.work .more li {
	color: #666;
	/* font-size: 14px; */
}
.work .more li strong {
	font-weight: bold;
}
.about {
	padding: 40px;
	margin: 0 20px 10px 20px;
	background-color: #fff;
}
.about h2 {
	font-size: 40px;
	color: #d9d9d9;
	text-align: center;
}
